[Unit]
Description=Memory monitoring service
After=network.target

[Service]
ExecStart=/home/vagrant/memmonitor.sh
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target